<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<h1>Signup</h1>
<form method="POST" action="/signup/" enctype="multipart/form-data">
    <label>Username</label>
    <input type="text" name="username" required>
    <br>
    <label>Email</label>
    <input type="text" name="email" required>
    <br>
    <label>Password</label>
    <input type="password" name="password" required>
    <br>
    <input type="file" name="image_filename" required>
    <br>
    <input type="submit" value="Signup">
</form>
</body>
</html>